wsclients/src/main/resources/CloudComputingEva.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cloudComputingEvaluation.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://cloudComputingEvaluation.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://cloudComputingEvaluation.org/">
            <s:element name="InstanceResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="yourNamePlz" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InstanceResponseResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InstanceResponseResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Result">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="timer" type="s:long" />
                </s:sequence>
            </s:complexType>
            <s:element name="create">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="createResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="createResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="read">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="readResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="readResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="update">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="oldValue" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="newValue" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="updateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="updateResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="delete">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="deleteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="deleteResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="createDataByNumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="createDataByNumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="createDataByNumberResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="readDataByNumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="readDataByNumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="readDataByNumberResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="updateDataByNumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="updateDataByNumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="updateDataByNumberResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="deleteDataByNumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="deleteDataByNumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="deleteDataByNumberResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="bigFileReceive">
                <s:complexType />
            </s:element>
            <s:element name="bigFileReceiveResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="bigFileReceiveResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="InstanceResponseSoapIn">
        <wsdl:part name="parameters" element="tns:InstanceResponse" />
    </wsdl:message>
    <wsdl:message name="InstanceResponseSoapOut">
        <wsdl:part name="parameters" element="tns:InstanceResponseResponse" />
    </wsdl:message>
    <wsdl:message name="createSoapIn">
        <wsdl:part name="parameters" element="tns:create" />
    </wsdl:message>
    <wsdl:message name="createSoapOut">
        <wsdl:part name="parameters" element="tns:createResponse" />
    </wsdl:message>
    <wsdl:message name="readSoapIn">
        <wsdl:part name="parameters" element="tns:read" />
    </wsdl:message>
    <wsdl:message name="readSoapOut">
        <wsdl:part name="parameters" element="tns:readResponse" />
    </wsdl:message>
    <wsdl:message name="updateSoapIn">
        <wsdl:part name="parameters" element="tns:update" />
    </wsdl:message>
    <wsdl:message name="updateSoapOut">
        <wsdl:part name="parameters" element="tns:updateResponse" />
    </wsdl:message>
    <wsdl:message name="deleteSoapIn">
        <wsdl:part name="parameters" element="tns:delete" />
    </wsdl:message>
    <wsdl:message name="deleteSoapOut">
        <wsdl:part name="parameters" element="tns:deleteResponse" />
    </wsdl:message>
    <wsdl:message name="createDataByNumberSoapIn">
        <wsdl:part name="parameters" element="tns:createDataByNumber" />
    </wsdl:message>
    <wsdl:message name="createDataByNumberSoapOut">
        <wsdl:part name="parameters" element="tns:createDataByNumberResponse" />
    </wsdl:message>
    <wsdl:message name="readDataByNumberSoapIn">
        <wsdl:part name="parameters" element="tns:readDataByNumber" />
    </wsdl:message>
    <wsdl:message name="readDataByNumberSoapOut">
        <wsdl:part name="parameters" element="tns:readDataByNumberResponse" />
    </wsdl:message>
    <wsdl:message name="updateDataByNumberSoapIn">
        <wsdl:part name="parameters" element="tns:updateDataByNumber" />
    </wsdl:message>
    <wsdl:message name="updateDataByNumberSoapOut">
        <wsdl:part name="parameters" element="tns:updateDataByNumberResponse" />
    </wsdl:message>
    <wsdl:message name="deleteDataByNumberSoapIn">
        <wsdl:part name="parameters" element="tns:deleteDataByNumber" />
    </wsdl:message>
    <wsdl:message name="deleteDataByNumberSoapOut">
        <wsdl:part name="parameters" element="tns:deleteDataByNumberResponse" />
    </wsdl:message>
    <wsdl:message name="bigFileReceiveSoapIn">
        <wsdl:part name="parameters" element="tns:bigFileReceive" />
    </wsdl:message>
    <wsdl:message name="bigFileReceiveSoapOut">
        <wsdl:part name="parameters" element="tns:bigFileReceiveResponse" />
    </wsdl:message>
    <wsdl:portType name="CloudComputingEvaluationSoap">
        <wsdl:operation name="InstanceResponse">
            <wsdl:input message="tns:InstanceResponseSoapIn" />
            <wsdl:output message="tns:InstanceResponseSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="tns:createSoapIn" />
            <wsdl:output message="tns:createSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="read">
            <wsdl:input message="tns:readSoapIn" />
            <wsdl:output message="tns:readSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:updateSoapIn" />
            <wsdl:output message="tns:updateSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteSoapIn" />
            <wsdl:output message="tns:deleteSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="createDataByNumber">
            <wsdl:input message="tns:createDataByNumberSoapIn" />
            <wsdl:output message="tns:createDataByNumberSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="readDataByNumber">
            <wsdl:input message="tns:readDataByNumberSoapIn" />
            <wsdl:output message="tns:readDataByNumberSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="updateDataByNumber">
            <wsdl:input message="tns:updateDataByNumberSoapIn" />
            <wsdl:output message="tns:updateDataByNumberSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="deleteDataByNumber">
            <wsdl:input message="tns:deleteDataByNumberSoapIn" />
            <wsdl:output message="tns:deleteDataByNumberSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="bigFileReceive">
            <wsdl:input message="tns:bigFileReceiveSoapIn" />
            <wsdl:output message="tns:bigFileReceiveSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudComputingEvaluationSoap" type="tns:CloudComputingEvaluationSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="InstanceResponse">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/InstanceResponse" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/create" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="read">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/read" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/update" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/delete" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDataByNumber">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/createDataByNumber" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readDataByNumber">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/readDataByNumber" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDataByNumber">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/updateDataByNumber" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDataByNumber">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/deleteDataByNumber" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bigFileReceive">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/bigFileReceive" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudComputingEvaluationSoap12" type="tns:CloudComputingEvaluationSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="InstanceResponse">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/InstanceResponse" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/create" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="read">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/read" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/update" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/delete" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDataByNumber">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/createDataByNumber" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readDataByNumber">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/readDataByNumber" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDataByNumber">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/updateDataByNumber" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDataByNumber">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/deleteDataByNumber" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bigFileReceive">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/bigFileReceive" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudComputingEvaluation">
        <wsdl:port name="AzureEvaluationSoap" binding="tns:CloudComputingEvaluationSoap">
            <soap:address location="http://azureva.cloudapp.net/CloudComputingEvaluation.asmx" />
        </wsdl:port>
        <wsdl:port name="AzureEvaluationSoap12" binding="tns:CloudComputingEvaluationSoap12">
            <soap12:address location="http://azureva.cloudapp.net/CloudComputingEvaluation.asmx" />
        </wsdl:port>
        <wsdl:port name="AmazonSoap12" binding="tns:CloudComputingEvaluationSoap12">
            <soap12:address location="http://174.129.238.95:8080/server-1.0-SNAPSHOT/service/cxfserver" />
        </wsdl:port>
        <wsdl:port name="AppEngineSoap11InstanceResponse" binding="tns:CloudComputingEvaluationSoap">
            <soap:address location="http://cloudplatformtest.appspot.com/InstanceResponse" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>