wsclients/src/main/resources/GoodDayAzure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://cloudComputingEvaluation.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://cloudComputingEvaluation.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://cloudComputingEvaluation.org/">
            <s:element name="InstanceResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="yourNamePlz" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InstanceResponseResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InstanceResponseResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Result">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="timer" type="s:long" />
                </s:sequence>
            </s:complexType>
            <s:element name="create">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="createResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="createResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="read">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="readResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="readResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="update">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="oldValue" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="newValue" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="updateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="updateResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="delete">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="deleteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="deleteResult" type="tns:Result" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="InstanceResponseSoapIn">
        <wsdl:part name="parameters" element="tns:InstanceResponse" />
    </wsdl:message>
    <wsdl:message name="InstanceResponseSoapOut">
        <wsdl:part name="parameters" element="tns:InstanceResponseResponse" />
    </wsdl:message>
    <wsdl:message name="createSoapIn">
        <wsdl:part name="parameters" element="tns:create" />
    </wsdl:message>
    <wsdl:message name="createSoapOut">
        <wsdl:part name="parameters" element="tns:createResponse" />
    </wsdl:message>
    <wsdl:message name="readSoapIn">
        <wsdl:part name="parameters" element="tns:read" />
    </wsdl:message>
    <wsdl:message name="readSoapOut">
        <wsdl:part name="parameters" element="tns:readResponse" />
    </wsdl:message>
    <wsdl:message name="updateSoapIn">
        <wsdl:part name="parameters" element="tns:update" />
    </wsdl:message>
    <wsdl:message name="updateSoapOut">
        <wsdl:part name="parameters" element="tns:updateResponse" />
    </wsdl:message>
    <wsdl:message name="deleteSoapIn">
        <wsdl:part name="parameters" element="tns:delete" />
    </wsdl:message>
    <wsdl:message name="deleteSoapOut">
        <wsdl:part name="parameters" element="tns:deleteResponse" />
    </wsdl:message>
    <wsdl:portType name="CloudComputingEvaluationSoap">
        <wsdl:operation name="InstanceResponse">
            <wsdl:input message="tns:InstanceResponseSoapIn" />
            <wsdl:output message="tns:InstanceResponseSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="tns:createSoapIn" />
            <wsdl:output message="tns:createSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="read">
            <wsdl:input message="tns:readSoapIn" />
            <wsdl:output message="tns:readSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:updateSoapIn" />
            <wsdl:output message="tns:updateSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteSoapIn" />
            <wsdl:output message="tns:deleteSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudComputingEvaluationSoap" type="tns:CloudComputingEvaluationSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="InstanceResponse">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/InstanceResponse" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/create" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="read">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/read" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/update" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="http://cloudComputingEvaluation.org/delete" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudComputingEvaluationSoap12" type="tns:CloudComputingEvaluationSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="InstanceResponse">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/InstanceResponse" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/create" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="read">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/read" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/update" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap12:operation soapAction="http://cloudComputingEvaluation.org/delete" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudComputingEvaluation">
        <wsdl:port name="AzureEvaluationSoap" binding="tns:CloudComputingEvaluationSoap">
            <soap:address location="http://azureva.cloudapp.net/CloudComputingEvaluation.asmx" />
        </wsdl:port>
        <wsdl:port name="AzureEvaluationSoap12" binding="tns:CloudComputingEvaluationSoap12">
            <soap12:address location="http://azureva.cloudapp.net/CloudComputingEvaluation.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
